.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.small-margins {
  margin: 0.01em;
}
.small-bottom-margin {
  margin-bottom: 0.01em;
}
.youtube-embed {
  position: absolute;
  top: 20%;
  left: 12.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
  width: 75%;
  height: 65%;
}
.guitar-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
  width: 50%;
  height: 50%;
  opacity: 0.25;
}
.logout-link {
  color: red;
}


/* h1{
  margin-bottom: 0px;
} */

/* id should be small white text right under the page title */
.id {
  font-size: 0.5em;
  color: white;
  /* perhaps change color to same as add song button */
}

.create-button {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  /* background-color: #373a47; */
  background-color: #282c34;
  color: #58628a;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  border: 0px solid white;
}
.create-button:hover {
  /* background-color: #282c34; */
  /* background-color: #58628a; */
  color: #c7d3ff;
}
.registration-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Add other styles as needed */
}

.registration-form label {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  display: block;
}

.registration-form input {
  width: 100%;
  max-width: 20em;
  margin-bottom: 1.5em;
  padding: 0.5em;
  font-size: 1.2em;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.registration-form button {
  background-color: #58628a;
  color: white;
  font-size: 1.2em;
  padding: 0.5em 1em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.registration-form button:hover {
  background-color: #c7d3ff;
}
