.search-symbol {
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    /* background-color: #373a47; */
    background-color: #282c34;
    color: #58628a;
    font-size: 3em;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    border: 0px solid white;
  }
  .search-symbol:hover {
    /* background-color: #282c34; */
    /* background-color: #58628a; */
    color: #c7d3ff;
  }